

body input header{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 95%;
    height: 60px;
   
    position: fixed;
    padding: 15px 15px;
    z-index: 5;
    background-color: #25b99e;
    border-radius: 10px;
    
}
    
    
header input{
   width:94%;
    height:50px;
    float:left;
    background:rgba(255,255,255,0.2);
    text-indent: 18px;
    padding: 0 60px 0 0 ;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    color:#fff;
    border:0px;
    outline:none;
    font-size: 1.5rem;
    font-weight: 400;
   
}
input::placeholder{
    color:white;
    opacity: 0.7;
}
header button{
    width:50px;
    height:50px;
    position:absolute;
    top:15px;
    right:10px;
    z-index:2;
  
 
    border-radius: 25px;
    background: white;
    border:none;
    outline:none;
}
.fas, .fa-plus{
    height:auto;
    widows: auto;
    font-size: 1.5rem;
    color:#25b99e;

}